<nav class="navbar navbar-expand-lg navbar-light cat-prime-bg">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
      <div class="logo">
        Amaze
      </div>
      <li routerLink="/" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{ exact: true }" >
        <a>Home</a>
      </li>
      <li routerLink="/about" [routerLinkActive]="['router-link-active']">
        <a>About Us</a>
      </li>
      <li routerLink="/service" [routerLinkActive]="['router-link-active']">
        <a>Service</a>
      </li>
      <li routerLink="/blog" [routerLinkActive]="['router-link-active']">
        <a>Blog</a>
      </li>
      <li routerLink="/contact" [routerLinkActive]="['router-link-active']">
        <a>Contact</a>
      </li>
		</ul>
	</div>
</nav>